[Unit]
Description=IcePi Service
After=dnsmasq.service hostapd.service network.target network-online.target
Wants=network.target network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/local/IcePi
ExecStart=/var/local/IcePi/.venv/bin/python3 /var/local/IcePi/main.py
Restart=Always
RestartSec=5

[Install]
WantedBy=multi-user.target